<div style="text-align:center" class="container-fluid">
    <h6>
        Countries list in Palestine ...
    </h6>
    <!-- <ul>
        <li *ngFor="let c of country" class="list-group-item list-group-item-action list-group-item-danger">
            <h3><button class="btn btn-secondary" (click)="chooseCountry(c);">{{c.name}}</button>
            </h3>
        </li>
    </ul> -->
    <select #city (change)="chooseCountry(city.value);" >
        <option>Choose Country</option>
        <option *ngFor="let c of country">{{c.name}}</option>
    </select><br><br>
    <img src="../../assets/Images/playOnIcon.png"><br><br>
    
    <app-stations [country]="choosenCountry"></app-stations>
</div>