<div style="text-align:center" class="container-fluid">
    <h6>
        Countries list in Palestine ...
    </h6>
    <!-- <ul>
        <li *ngFor="let c of country" class="list-group-item list-group-item-action list-group-item-danger">
            <h3><button class="btn btn-secondary" (click)="chooseCountry(c);">{{c.name}}</button>
            </h3>
        </li>
    </ul> -->
    <select (change)='chooseCountry($event)'>
        <option value='none' selected disabled hidden>Select a country</option>
        <option *ngFor='let c of country' value='{{c.name}}'>{{c.name}}</option>
    </select><br><br>
    
    <app-stations [country]="choosenCountry"></app-stations>
</div>