<div style="text-align:center" class="list-group">
    <div *ngIf="country!=undefined">
        <h2>
            Stations list in {{ country.name }}
        </h2>
        <ul class="nav nav-pills ">
            <li *ngFor="let station of country.stations " class="list-group-item list-group-item-action list-group-item-danger">
                <h3>Stations : <button class="btn btn-secondary" (click)="chooseStation(station);">{{station.stationName}}</button></h3>
        </li>
        </ul>
    </div>
</div>
<div class="main" *ngIf="selectedStation!=undefined">
    <div>
        <h1>{{selectedStation.name}}</h1>
        <audio width="300" height="32" controls="controls" autoplay="autoplay" [src]="selectedStation.stationSrc"></audio>
    </div>
</div>