<!-- <div style="text-align:center" class="list-group">
    <div *ngIf="country!=undefined">
        <h6>
            Stations list in {{ country }}
        </h6>
        <ul>
            <li *ngFor="let station of country.stations">
                <h3>Stations : <button class="btn btn-secondary" (click)="chooseStation(station);">{{station.stationName}}</button></h3>
            </li>
        </ul>
        <select #station (change)="chooseStation(station.value);" >
        <option>Choose Station</option>
        <option *ngFor="let s of country.stations">{{s.stationName}}</option>
    </select><br><br>
    </div>
</div> -->

<div *ngIf="country!=undefined" style="text-align:center" class="container-fluid">
    <h6>
        Stations list in {{ selectedStation }}
    </h6><br>
    <ul>
        <li *ngFor="let station of country.stations">
            <h6>Stations : <button class="btn btn-secondary" (click)="chooseStation(station);">{{station.stationName}}</button></h6>
        </li>
    </ul>
    
</div>

<!-- <div class="main">
    <div *ngIf="selectedCity!=undefined">
        <br><button (click)="pauseAudio() "><p *ngIf="!state " class="fa ">&#xf04b;</p><p *ngIf="state " class="fa ">&#xf04c;</p></button><br>
        <label>{{selectedCity.city}}</label>
        <ul class="nav nav-pills ">
            <li *ngFor=" let station of selectedCity.stations "><a style="color: black; " href="# " (click)="select(station); ">{{station.name}}</a></li>
        </ul>
    </div>
</div> -->

<!-- <div class="main" *ngIf="selectedStation!=undefined">
    <div> 
        <h1>{{selectedStation.name}}</h1>
        <audio width="300" height="32" controls="controls" autoplay="autoplay"
            [src]="selectedStation.stationSrc"></audio>
    </div>
</div> -->